.accordion{
	margin-bottom: 25px;
	.container-faq{
		margin-right: auto;
		margin-left: auto;
		width: 100%;
	}
	.column-content{
		float: left;
		padding-left: 15px;
		padding-right: 15px;
	}
	.column-content{
		width: 95%;
		position: relative;
	}
	.faq-row{
		margin-left: -15px;
		margin-right: -15px;
		.clearfix;
	}
	h3{
		font-size: 20px !important;
		margin: 13px 0 20px 0;
		.clearfix;
		.expand-box{
			width: 45px;
			height: 45px;
			border: 1px solid #ccc;
			.border-radius(5px);
			position: absolute;
			top: 5px;
			left: 15px;
		}
		.title{
			padding-left: 65px;
			float: left;
			line-height: 30px;
		}
	}
	.plus{
		.img-retina('@{img-url}plus.png','@{img-url}plus@2x.png', 15px,15px);
		background-position: center !important;
		background: no-repeat;
	}
	.minus{
		.img-retina('@{img-url}minus.png','@{img-url}minus@2x.png', 15px,15px);
		background-position: center !important;
		background: no-repeat;
		background-color: #ddd;
		.transition (background-color .3s ease-in-out);
	}
	.content{
		padding-left: 65px;
		margin-top: 20px;
		>p{
			font-size: 14px;
		}
	}
}