/*__  __ _      _           
 |  \/  (_)    (_)          
 | \  / |___  ___ _ __  ___ 
 | |\/| | \ \/ / | '_ \/ __|
 | |  | | |>  <| | | | \__ \
 |_|  |_|_/_/\_\_|_| |_|___/
*/

//display for retina=
.img-retina(@file-1x; @file-2x; @width-1x; @height-1x) {
    background-image: url("@{file-1x}") !important;
  
    @media
        only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (   min--moz-device-pixel-ratio: 2),
        only screen and (     -o-min-device-pixel-ratio: 2/1),
        only screen and (        min-device-pixel-ratio: 2),
        only screen and (                min-resolution: 192dpi),
        only screen and (                min-resolution: 2dppx) {
            background-image: url("@{file-2x}") !important;
            background-size: @width-1x @height-1x;
    }
}
.border-radius (@radius) {
    -webkit-border-radius:   @radius;
    -moz-border-radius:      @radius;
    border-radius:           @radius;
    -moz-background-clip:    padding;
    -webkit-background-clip: padding-box;
    background-clip:         padding-box;
}
.transition (@transition) {
    -webkit-transition: @transition;  
    -moz-transition:    @transition;
    -ms-transition:     @transition; 
    -o-transition:      @transition;  
}

.clearfix() {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}
