/* This shouldn't be needed; template stylings should be set up sufficiently. */

.streamers {
	line-height: 1.5em;

	h2 {
		padding: 1.5em 0 0.5em;
	}

	p {
		line-height: 1.5em;
	}

	li {
		font-size: 1em;
		line-height: 1.5em;
		padding-top: 1em;
	}

}

#main #container #content .entry-content .streamers,
#layout-wrapper #wrapper #content_full .entry-content {
	.streamers();
}