//This is for FaqSortable class
.wp-list-table {
	.ui-sortable tr{
		cursor: move;	
	}
	.spo-updating tr{
		cursor: default;
		&.inline-editor{
			cursor: default;
		}
	}
	.ui-sortable-placeholder{
		outline: 1px dashed #bbb;
		background: #F1F1F1;
		visibility: visible !important;
	}
	.ui-sortable-helper{
		background-color: #fff;
		outline: 1px solid #e1e1e1;
	}
}